{% extends 'layout_tpl.html' %}
{% block title %}To Do Glist{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block content %}

<section class="loginForm">

   <h1>Велкам че, пацантрэ гоу суда</h1>
    <form name="login_form">

        <div class="row">
            <div class="columns">
                <input name="username" type="text" placeholder="Погоняло"/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input name="password" type="password" placeholder="Шептунэ"/>
            </div>
        </div>
        <div class="row text-center">
            <button class="button">ХУЯК</button>
        </div>

    </form>


</section>


<script>
    console.log('22221');
    $(document.forms['login_form']).on('submit', function() {
        console.log('2221');
        var form = $(this);
        console.log(form.serialize());
//        $('.error', form).html('');
//        $(":submit", form).button("loading");
        console.log('13');
        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function() {
//                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    window.location.href = "/todo";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        console.log('12');
        return false;
    });
</script>

{% endblock %}