{% extends 'layout_tpl.html' %}
{% block title %}To Do Glist{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block content %}

<section class="loginForm">

   <h1>Велкам че, пацантрэ гоу суда</h1>
    <form action="">

        <div class="row">
            <div class="columns">
                <input type="text" placeholder="Погоняло"/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input type="password" placeholder="Шептунэ"/>
            </div>
        </div>
        <div class="row text-center">
            <a href="#" class="button">ХУЯК</a>
        </div>

    </form>


</section>


{% endblock %}