<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="Shortcut Icon" type="image/x-icon" href="img/favicon.ico"/>-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js_libs/foundation.js"></script>
    <script src="/js_libs/foundation.abide.js"></script>
    <script src="/js/common_fu.js"></script>
    <script src="/js/js.js"></script>
</head>
<body>
<header id="header">

    {% block nav %}{% endblock %}
</header>
<section id="main">

{% block content %}{% endblock %}


</section>
<footer id="footer">

</footer>
</body>
</html>
