doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/common_fu.js")
    script(src="/js/js.js")
  body
    block content