{% extends 'layout_tpl.html' %}
{% block title %}Рега на{% endblock %}
{% block nav %}
{% include 'nav.html' with data %}
{% endblock %}


{% block content %}

<section class="regForm">

    <h1>{{data.regi_h1}}</h1>
    <div data-alert id="error_disp" class="alert-box alert round">
        <p></p>
        <a href="#" class="close">&times;</a>
    </div>
    <form name="regi_form" data-abide>
        <small class="error">A valid email address is required.</small>
        <div class="row">
            <div class="columns">
                <input name="username" type="text" placeholder="{{data.regi_form_usernamePlaceHolder}}" required/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input name="password" type="password" placeholder="{{data.regi_form_passwordPlaceHolder}}" required/>
            </div>
        </div>
        <div class="row text-center">
            <button class="button">{{data.regi_formButton}}</button>
        </div>

    </form>


</section>


{% endblock %}