{% extends 'layout_tpl.html' %}
{% block title %}Рега на{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block content %}

<section class="regForm">

    <h1>Буть мужиком блеееать!!!</h1>
    <div data-alert id="error_disp" class="alert-box alert round">
        <p></p>
        <a href="#" class="close">&times;</a>
    </div>
    <form name="regi_form">

        <div class="row">
            <div class="columns">
                <input name="username" type="text" placeholder="Погоняло"/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input name="password" type="password" placeholder="Шептунэ"/>
            </div>
        </div>
        <div class="row text-center">
            <button class="button">Заебись заполнил</button>
        </div>

    </form>


</section>


{% endblock %}