{% extends 'layout_tpl.html' %}
{% block title %}User{% endblock %}
{% block nav %}
{% if todo.cur_user == '' %}
{% include 'nav.html' with todo %}
{% else %}
{% include 'nav_registered.html' with todo %}
{% endif %}
{% endblock %}


{% block content %}

{#
<div class="item_toolti">{{ item|json_encode }}</div>
{% if false %}
Tacos
{% elseif true %}
Burritos
{% else %}
Churros
{% endif %}
#}


<section class="the_user">
    {% if lists == '' %}
    <h1>{{todo.data.user_user_notFound}}</h1>
    {% else %}

    <section class="users_list">


        <div class="todo_listUl">
            {% if !list.length %}
            <div class="todo_item">
                <h4 class="say_empty">{{todo.data.todo_say_empty}}</h4>
            </div>
            {% else %}
            {% for item in list %}
            <div class="todo_item">
                <span class="hidden_id">{{ item.id }}</span>

                <div class="check_tool">{{todo.data.todo_pressToComplete}}</div>
                <div class="item_title"> {{item.title}}</div>
                <div class="item_tooltip">
                    <span class="date_created">{{todo.data.todo_say_date}}:</span>
                    <span class="date_createdData"> {{item.dateCreated |date('jS \o\f F')}}</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>


    {% endif %}



</section>


{% endblock %}